@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lobster&family=Manrope:wght@200&family=Poppins&display=swap');
body{
    margin: 0;
}
.container-1{
    width: 1340px;
    height: 620px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header-section{
    text-align: center;
    padding-top: 80px;
}
.header-1{
    color: white;
    font-size: 40px;
    font-family: 'Inter', sans-serif;

}
.header-2{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 22px;
}
.button-donate{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    border: 17px solid tomato;
    border-radius: 7px;
    background-image: linear-gradient(tomato, tomato);
}
.donate-today{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.donate-today-1{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}
.donate-today-2{
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: gray;
}
.donate-today-3{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 15px;
    text-align: center;
    justify-content: center;
}
.taka{
    min-width: 80px;
    font-size: 20px;
    padding: 25px 15px 20px 15px;
    background-color: gainsboro;
    border: 3px solid gainsboro;
    border-radius: 3px;
}
.taka-selected{
    min-width: 80px;
    font-size: 20px;
    padding: 25px 15px 20px 15px;
    background-color: rgb(236, 199, 192);
    border: 3px solid tomato;
    border-radius: 3px;
}
.donate-today-4 input{
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid gray;
    width: 640px;
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.donate-plan{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;
}
.donate-plan-1{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}
.donate-plan-2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: gray;
    margin-left: 350px;
    margin-right: 350px;
}
.donate-plan-3{
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 10px 10px 10px 10px;

}
.food-container{
    padding: 10px 10px 10px 10px;
    border: 2px solid rgba(79, 157, 166, 0.1);
    background-color: rgba(79, 157, 166, 0.1);;
    border-radius: 5px;
}
.food-img{
    text-align: left;
}
.food-title{
    text-align: left;
    font-size: 20px;
}
.food-para{
    text-align: left;
    width: 250px;
}
.shelter-container{
    padding: 10px 10px 10px 10px;
    border: 2px solid rgba(255, 89, 89, 0.1);
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
.shelter-img{
    text-align: left;
}
.shelter-title{
    text-align: left;
    font-size: 20px;
}
.shelter-para{
    text-align: left;
    width: 250px;
}
.education-container{
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 211, 165, 0.444);;
}
.education-img{
    text-align: left;
}
.education-title{
    text-align: left;
    font-size: 20px;
}
.education-para{
    text-align: left;
    width: 250px;
}
.donate-by{
    margin: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(229, 229, 229);
    display: flex;
    gap: 10px;
    justify-content: center;
}
.by{
    margin-top: 75px;
    height: 250px;
    width: 370px;
    background-color: rgb(158, 125, 125);
    border-radius: 5px;
}
.title-bar{
    display: flex;
}
.icon img{
    width: 50px;
    margin-top: 20px;
    margin-left: 5px;
}
.title-head{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-left: 25px;
    font-weight: bold;
}
.para{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}
.updates-container{
    text-align: center;
    margin-bottom: 80px;
}
.updates-heading{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}
.updates-para{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.form-box{
    height: 200px;
    width: 650px;
    margin-left: 25%;
    background-color: rgb(255, 230, 203);
    
}
.form-box-1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}
.form-box-2 input{
    font-size: 18px;
    border: none;
    border-radius: 3px;
    padding: 12px 20px;
}
.form-box-2 button{
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    padding: 12px 20px;
}

.footer{
    background: rgb(13, 13, 20);
    width: 100%;
    height: 200px;
}
.humble{
    font-size: 35px;
    text-align: center;
    color: tomato;
    padding-top: 30px;
    font-family: 'Lobster', cursive;
}
.do-it{
    font-size: 17px;
    text-align: center;
    color: white;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 15px;
}
.develop{
    font-size: 10px;
}